[submodule "vendor/bundles/Propel/PropelBundle"]
	path = vendor/bundles/Propel/PropelBundle
	url = https://github.com/propelorm/PropelBundle.git
[submodule "vendor/propel"]
	path = vendor/propel
	url = https://github.com/propelorm/Propel.git
[submodule "vendor/phing"]
	path = vendor/phing
	url = https://github.com/phingofficial/phing.git
